@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@keyframes logoAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

/* Animação de fade-in e fade-out para a logo */
@keyframes logoFadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-logoFadeInOut {
  animation: logoFadeInOut 2s ease-in-out;
}

/* Animação de fade-in para o título */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-out;
}

/* Animação de slide-in para o subtítulo */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideIn {
  animation: slideIn 1.5s ease-out;
}


.glow-text {
  animation: glow 3s ease-in-out infinite;
}


.animate-logoAnimation {
  animation: logoAnimation 3s ease-in-out infinite;
}

:root {
  --font-primary: var(--font-jura);  
}

body {
  font-family: var(--font-primary), sans-serif;
}